services:
  mongodb:
    image: mongo
    container_name: mongo_db
    ports:
      - 27017:27017
    volumes:
      - mongo:/data
    environment:
      - MONGO_INITDB_ROOT_USERNAME=akash
      - MONGO_INITDB_ROOT_PASSWORD=gupta

  mongo-express:
    image: mongo-express
    container_name: mongo_express
    restart: always
    depends_on:
      - mongodb
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=akash
      - ME_CONFIG_MONGODB_ADMINPASSWORD=gupta
      - ME_CONFIG_MONGODB_SERVER=mongodb

volumes:
  mongo: {}
